*.log

.DS_Store
Thumbs.db

/.codex/
/.cursor/
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/

/.phpunit.cache/
/.phpunit.result.cache

/vendor/
/node_modules/

/composer.lock
/composer.phar
/clover.xml

/phpunit.xml

/package-lock.json
/pnpm-lock.yaml
