name: tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        php: [7.4, 8.0, 8.1, 8.2]
        laravel: [^8.0, ^9.0, ^10.0, ^11.0, ^12.0]
        #stability: [prefer-lowest, prefer-stable]
        stability: [prefer-stable]
        exclude:
          - php: 7.4
            laravel: ^9.0
          - php: 7.4
            laravel: ^10.0
          - php: 7.4
            laravel: ^11.0
          - php: 7.4
            laravel: ^12.0
          - php: 8.0
            laravel: ^10.0
          - php: 8.0
            laravel: ^11.0
          - php: 8.1
            laravel: ^11.0
          - php: 8.1
            laravel: ^12.0

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
          coverage: xdebug

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit

      - name: Coverage
        uses: codecov/codecov-action@v4
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
